body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}
header,
footer {
  text-align: center;
  background-color: #573090;
  color: white;
  padding: 1rem;
}
main {
  padding: 2rem;
}
.produto {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.produto img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}
button {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: #de5c25;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}
button:hover {
  background: #28a437;
}

.status-pagamento {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  color: #856404;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
